@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');

:root {
    --black: black;
    --white: white;
    --brand-500: orangered;
    --brand-300: #3c3939;
    --brand-100: #F1F1F1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: var(--black);
}

a {
    color: var(--black);
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: 0;
	font-size: 2.4rem;
	padding: 1.2rem;
}

button.primary {
	background: var(--black);
	color: var(--white);
}

button.primary:hover {
    background: var(--brand-300);
}

button.secondary,
button.input-like {
    background: var(--white);
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 1px var(--black);
}

button.secondary:hover,
button.input-like:hover {
    box-shadow: inset 0 0 0 2px var(--black);
}

button.input-like {
    font-size: 1.8rem;
    width: 100%;
    text-align: left;
}

input {
    font-family: inherit;
    font-size: 1.8rem;
}

.app {
    max-width: 1200px;
    margin: 0 auto;
}

.page {
    margin: 0 auto;
    text-align: center;
}

.page .hero {
    height: 450px;
    border-radius: 5px;
    background:
        /* linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), */
        linear-gradient(hsla(318, 99%, 46%, 0.45), hsla(2, 63%, 51%, 0.72)),
        url("../images/index.jpg") center no-repeat;
    background-size: cover;
    color: var(--white);
    transition: background-color 0.3s;
}

/* .page .hero:hover {
    background:
    linear-gradient(hsla(318, 99%, 22%, 0.45), hsla(2, 63%, 20%, 0.72)),
    url("../images/index.jpg") center no-repeat;
    background-size: cover;
} */

.page .hero h1 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 6.8rem;
    padding-top: 9rem;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.authentication-form {
	display: flex;
	flex-direction: column;
	margin: 2.4rem auto;
	max-width: 400px;
	text-align: left;
}

button.input-like {
    
}

input,
button.input-like {
	padding: 1.2rem;
    outline: none;
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 1px var(--black);
}

input:hover,
button.input-like:hover {
    box-shadow: inset 0 0 0 2px var(--black);
}

.authentication-form label span,
.authentication-form .newsletter  {
    display: flex;
    align-items: center;
}

.authentication-form span span {
    display: inline-block;
    margin-left: 0.4rem;
}

.authentication-form input {
	width: 100%;
    margin-bottom: 2.4rem;
}

.authentication-form button {
    padding: 1.2rem;
    color: var(--white);
    background: var(--black);
    border: 0;
    cursor: pointer;
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.authentication-form button:hover {
    background: var(--brand-300);
}

.authentication-form p {
    text-align: center;
}

.authentication-form .form-link {
    text-decoration: underline;
    color: var(--brand-500);
}

.authentication-form .newsletter {
    margin-bottom: 2.4rem;
}

.authentication-form .newsletter input {
    width: initial;
    margin: 0;
    margin-right: 1.2rem;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    -moz-appearance:initial;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    left: 8px;
}



