form.search {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.search-bar {
    background: var(--white);
    border: 0;
    border-right: none;
    outline: none;
    font-size: 2.2rem;
    width: 40%;
}

.search-bar::placeholder {
    color: #3c3939;
}

.search-bar:focus {
    outline: none;
}

.search-button svg {
    margin-top: 2px;
    margin-right: 2px;
}